<style>
    .banner-image {
        padding-top: 75px;
        padding-bottom: 10px;
        text-align: center;
        color: #f8f8f8;
        background: url(https://www.digitalmenta.com/wp-content/uploads/2019/04/potenciar-campanas-shopping.jpg) no-repeat center;
        background-size: cover;
    }

    .banner-content {
        position: relative;
        padding-top: 6%;
        padding-bottom: 6%;
        margin-top: 12%;
        margin-bottom: 12%;
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 660px;
        overflow: hidden;
    }
</style>
<main>
   {{> splash-nav}}

    <section class="banner-image">
        <div class="container">
            <div class="banner-content">
                <h1>We sell lifestyle</h1>
                <p>Flat 40% OFF on all premium brands</p>
                <a href="/item/all" class="btn btn-danger btn-lg active">Shop Now</a>
            </div>
        </div>
    </section>

</main>